[
    {
        "address": "solana-address-1",
        "TOKEN_MINT": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
        "amount": 1.000000,
        "skip": true
    },
    {
        "address": "solana-address-2",
        "TOKEN_MINT": "SOLANA",
        "amount": 1.000000
    }
]